body {
    background-color: black;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.click {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
.tt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    Text-align: right;
    color: gray;
}